/third-party/LeapSDK/*
/third-party/boost_1_63_0/*
/build/*
/Release/*
/Debug/*
.vs/*
*.tlog
client_overlay/x64/Debug/*
driver_vrinputemulator/bin/x64/*
client_overlay/bin/win64/OpenVR-InputEmulatorOverlay.exe
client_overlay/bin/win64/OpenVR-InputEmulatorOverlay.ilk
client_overlay/bin/win64/OpenVR-InputEmulatorOverlay.pdb
driver_vrinputemulator/bin/x64/
